#chat {
    max-width: 600px;
    height: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
  }
  
  input {
    width: 600px;
    border: 1px solid #ddd;
    height: 50px;
    padding: 0 20px;
    font-size: 14px;
  }
  
  label {
    width: 600px;
    border: 1px solid #ddd;
    height: 50px;
    padding: 0 20px;
    font-size: 14px;
  }
  
  
  
  .messages {
    width: 600px;
    height: 400px;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    overflow-x: hidden; 
    overflow-x: auto; 
    text-align:justify;
    background-color: #fff;
  }

#logout {
  position: absolute;
  top: 30px;
  right: 30px;
  margin-top: 20px;
  border: solid 1px #ddd;
  border-radius: 35px;
  padding: 20px;
  transition: 0.2s filter;
}

#logout:hover{
  filter: opacity(0.6);
}
  